body {
    font-family: 'Lora', serif;
}

.title {
    text-align: center;
    margin-left: 40px;
}

.estado {
    font-weight: bold;
    text-transform: capitalize;
}

.estado-libre {
    color: #2ecc71;
}

.estado-ocupado {
    color: #e74c3c;
}

.contador-libre {
    color: #1e8449;
    font-weight: bold;
}

.contador-ocupado {
    color: #922b21;
    font-weight: bold;
}
